<a href="https://colab.research.google.com/github/Ammusabu/PEP-PYTHON/blob/main/employee_orm_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from sqlalchemy.orm import declarative_base, sessionmaker #creating a base class
from sqlalchemy import Column, Integer, String  #creating a table
from sqlalchemy import create_engine #to create a database or connecting database
#step 1 connection
engine = create_engine("sqlite:///company.db")
#step 2 create base class
Base = declarative_base()
#step 3 base class
class Employee(Base):
    __tablename__ = "employees"
    id = Column(Integer, primary_key=True)
    name = Column(String)
    age = Column(Integer)
    department = Column(String)
#step 4 metadata
Base.metadata.create_all(engine)

In [5]:
#step 5 session
Session = sessionmaker(bind = engine)
session = Session()
e1 = Employee( name = "Nobita", age = 22, department = "Collector")
e2 = Employee( name = "Shizuka", age = 21, department = "peon")
session.add(e1)
session.add(e2)
session.commit()
#step 6
employees = session.query(Employee).all()
for i in employees:
    print(i.id,i.name,i.age,i.department)

1 Nobita 22 Collector
2 Shizuka 21 peon
3 Nobita 22 Collector
4 Shizuka 21 peon
5 Nobita 22 Collector
6 Shizuka 21 peon

In [7]:
employees = session.query(Employee).filter_by(id = 1).first()
employees.name='naman'
session.commit()
print("employee updated")
employees = session.query(Employee).all()
for i in employees:
    print(i.id,i.name,i.age,i.department)

employee updated
1 naman 22 Collector
2 Shizuka 21 peon
3 Nobita 22 Collector
4 Shizuka 21 peon
5 Nobita 22 Collector
6 Shizuka 21 peon