<a href="https://colab.research.google.com/github/Ammusabu/PEP-PYTHON/blob/main/Minor_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#imports

from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, Float, text
from sqlalchemy.orm import declarative_base, sessionmaker, relationship

In [2]:
# database connection

engine = create_engine("sqlite:///fintrack.db", echo=True)

Base = declarative_base()

Session = sessionmaker(bind=engine)
session = Session()

In [4]:
#table created
# Category table
class Category(Base):
    __tablename__ = "categories"

    id = Column(Integer, primary_key=True)
    name = Column(String)

    expenses = relationship("Expense", back_populates="category")

# Expense table
class Expense(Base):
    __tablename__ = "expenses"

    id = Column(Integer, primary_key=True)
    title = Column(String)
    amount = Column(Float)
    date = Column(String)

    category_id = Column(Integer, ForeignKey("categories.id"))

    category = relationship("Category", back_populates="expenses")


# Subscription table
class Subscription(Base):
    __tablename__ = "subscriptions"

    id = Column(Integer, primary_key=True)
    name = Column(String)
    amount = Column(Float)
    next_date = Column(String)


# Budget table
class Budget(Base):
    __tablename__ = "budgets"

    id = Column(Integer, primary_key=True)
    month = Column(String)       # YYYY-MM
    limit = Column(Float)


# Create tables
Base.metadata.create_all(engine)

2026-02-10 16:31:37,158 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2026-02-10 16:31:37,163 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("categories")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("categories")

2026-02-10 16:31:37,166 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2026-02-10 16:31:37,170 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("categories")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("categories")

2026-02-10 16:31:37,175 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2026-02-10 16:31:37,177 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("expenses")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("expenses")

2026-02-10 16:31:37,179 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2026-02-10 16:31:37,182 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("expenses")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("expenses")

2026-02-10 16:31:37,183 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2026-02-10 16:31:37,185 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("subscriptions")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("subscriptions")

2026-02-10 16:31:37,187 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2026-02-10 16:31:37,189 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("subscriptions")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("subscriptions")

2026-02-10 16:31:37,190 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2026-02-10 16:31:37,192 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("budgets")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("budgets")

2026-02-10 16:31:37,194 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2026-02-10 16:31:37,196 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("budgets")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("budgets")

2026-02-10 16:31:37,197 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2026-02-10 16:31:37,202 INFO sqlalchemy.engine.Engine
CREATE TABLE categories (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE categories (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)

2026-02-10 16:31:37,206 INFO sqlalchemy.engine.Engine [no key 0.00414s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00414s] ()

2026-02-10 16:31:37,224 INFO sqlalchemy.engine.Engine
CREATE TABLE subscriptions (
	id INTEGER NOT NULL,
	name VARCHAR,
	amount FLOAT,
	next_date VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE subscriptions (
	id INTEGER NOT NULL,
	name VARCHAR,
	amount FLOAT,
	next_date VARCHAR,
	PRIMARY KEY (id)
)

2026-02-10 16:31:37,226 INFO sqlalchemy.engine.Engine [no key 0.00204s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00204s] ()

2026-02-10 16:31:37,242 INFO sqlalchemy.engine.Engine
CREATE TABLE budgets (
	id INTEGER NOT NULL,
	month VARCHAR,
	"limit" FLOAT,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE budgets (
	id INTEGER NOT NULL,
	month VARCHAR,
	"limit" FLOAT,
	PRIMARY KEY (id)
)

2026-02-10 16:31:37,243 INFO sqlalchemy.engine.Engine [no key 0.00132s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00132s] ()

2026-02-10 16:31:37,261 INFO sqlalchemy.engine.Engine
CREATE TABLE expenses (
	id INTEGER NOT NULL,
	title VARCHAR,
	amount FLOAT,
	date VARCHAR,
	category_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(category_id) REFERENCES categories (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE expenses (
	id INTEGER NOT NULL,
	title VARCHAR,
	amount FLOAT,
	date VARCHAR,
	category_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(category_id) REFERENCES categories (id)
)

2026-02-10 16:31:37,262 INFO sqlalchemy.engine.Engine [no key 0.00132s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00132s] ()

2026-02-10 16:31:37,276 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [5]:
#functions
def add_category():
    name = input("Category name: ")
    session.add(Category(name=name))
    session.commit()
    print("Category added")
def add_expense():
    title = input("Expense title: ")
    amount = float(input("Amount: "))
    date = input("Date (YYYY-MM-DD): ")
    category_id = int(input("Category ID: "))

    session.add(Expense(
        title=title,
        amount=amount,
        date=date,
        category_id=category_id
    ))
    session.commit()
    print("Expense added")
def update_expense():
    eid = int(input("Expense ID: "))
    expense = session.query(Expense).filter(Expense.id == eid).first()

    if expense:
        expense.title = input("New title: ")
        expense.amount = float(input("New amount: "))
        expense.date = input("New date: ")
        session.commit()
        print("Expense updated")
    else:
        print("Expense not found")
def delete_expense():
    eid = int(input("Expense ID: "))
    expense = session.query(Expense).filter(Expense.id == eid).first()

    if expense:
        session.delete(expense)
        session.commit()
        print("Expense deleted")
    else:
        print("Expense not found")
def search_by_date():
    date = input("Enter date (YYYY-MM-DD): ")
    expenses = session.query(Expense).filter(Expense.date == date).all()

    for e in expenses:
        print(e.title, "-", e.amount)

In [ ]:
#sql report
def category_report():
    sql = """
    SELECT categories.name, SUM(expenses.amount)
    FROM categories
    JOIN expenses ON categories.id = expenses.category_id
    GROUP BY categories.name
    """
    result = session.execute(text(sql))
    print("\nCategory Wise Expense Report")
    for row in result:
        print(row[0], "→", row[1])


def set_budget():
    month = input("Month (YYYY-MM): ")
    limit = float(input("Budget limit: "))

    session.add(Budget(month=month, limit=limit))
    session.commit()
    print("Monthly budget set")


def budget_alert():
    month = input("Month (YYYY-MM): ")

    total = session.execute(
        text("SELECT SUM(amount) FROM expenses WHERE date LIKE :m"),
        {"m": f"{month}%"}
    ).scalar() or 0

    budget = session.query(Budget).filter(Budget.month == month).first()

    if budget and total > budget.limit:
        print("Budget limit exceeded")
    else:
        print("Within budget limit")


#menu

while True:
    print("""
===== FINTRACK PRO =====
1. Add Category
2. Add Expense
3. Update Expense
4. Delete Expense
5. Search Expense by Date
6. Category Expense Report
7. Set Monthly Budget
8. Budget Alert
9. Exit
""")

    choice = input("Choose: ")

    if choice == "1":
        add_category()
    elif choice == "2":
        add_expense()
    elif choice == "3":
        update_expense()
    elif choice == "4":
        delete_expense()
    elif choice == "5":
        search_by_date()
    elif choice == "6":
        category_report()
    elif choice == "7":
        set_budget()
    elif choice == "8":
        budget_alert()
    elif choice == "9":
        break
    else:
        print("Invalid choice")

===== FINTRACK PRO =====
1. Add Category
2. Add Expense
3. Update Expense
4. Delete Expense
5. Search Expense by Date
6. Category Expense Report
7. Set Monthly Budget
8. Budget Alert
9. Exit

Choose: 1
Category name: Food
2026-02-10 16:34:07,732 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2026-02-10 16:34:07,738 INFO sqlalchemy.engine.Engine INSERT INTO categories (name) VALUES (?)

INFO:sqlalchemy.engine.Engine:INSERT INTO categories (name) VALUES (?)

2026-02-10 16:34:07,742 INFO sqlalchemy.engine.Engine [generated in 0.00496s] ('Food',)

INFO:sqlalchemy.engine.Engine:[generated in 0.00496s] ('Food',)

2026-02-10 16:34:07,746 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

Category added

===== FINTRACK PRO =====
1. Add Category
2. Add Expense
3. Update Expense
4. Delete Expense
5. Search Expense by Date
6. Category Expense Report
7. Set Monthly Budget
8. Budget Alert
9. Exit

Choose: 2
Expense title: Food
Amount: 2500
Date (YYYY-MM-DD): 2026-10-7
Category ID: 1
2026-02-10 16:37:33,863 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2026-02-10 16:37:33,868 INFO sqlalchemy.engine.Engine INSERT INTO expenses (title, amount, date, category_id) VALUES (?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO expenses (title, amount, date, category_id) VALUES (?, ?, ?, ?)

2026-02-10 16:37:33,871 INFO sqlalchemy.engine.Engine [generated in 0.00292s] ('Food', 2500.0, '2026-10-7', 1)

INFO:sqlalchemy.engine.Engine:[generated in 0.00292s] ('Food', 2500.0, '2026-10-7', 1)

2026-02-10 16:37:33,877 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

Expense added

===== FINTRACK PRO =====
1. Add Category
2. Add Expense
3. Update Expense
4. Delete Expense
5. Search Expense by Date
6. Category Expense Report
7. Set Monthly Budget
8. Budget Alert
9. Exit

Choose: 3
Expense ID: 1
2026-02-10 16:37:52,985 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2026-02-10 16:37:52,993 INFO sqlalchemy.engine.Engine SELECT expenses.id AS expenses_id, expenses.title AS expenses_title, expenses.amount AS expenses_amount, expenses.date AS expenses_date, expenses.category_id AS expenses_category_id
FROM expenses
WHERE expenses.id = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT expenses.id AS expenses_id, expenses.title AS expenses_title, expenses.amount AS expenses_amount, expenses.date AS expenses_date, expenses.category_id AS expenses_category_id
FROM expenses
WHERE expenses.id = ?
 LIMIT ? OFFSET ?

2026-02-10 16:37:52,997 INFO sqlalchemy.engine.Engine [generated in 0.00462s] (1, 1, 0)

INFO:sqlalchemy.engine.Engine:[generated in 0.00462s] (1, 1, 0)

New title: Clothes
New amount: 2500
New date: 2026-11-17
2026-02-10 16:38:31,154 INFO sqlalchemy.engine.Engine UPDATE expenses SET title=?, date=? WHERE expenses.id = ?

INFO:sqlalchemy.engine.Engine:UPDATE expenses SET title=?, date=? WHERE expenses.id = ?

2026-02-10 16:38:31,156 INFO sqlalchemy.engine.Engine [generated in 0.00221s] ('Clothes', '2026-11-17', 1)

INFO:sqlalchemy.engine.Engine:[generated in 0.00221s] ('Clothes', '2026-11-17', 1)

2026-02-10 16:38:31,159 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

Expense updated

===== FINTRACK PRO =====
1. Add Category
2. Add Expense
3. Update Expense
4. Delete Expense
5. Search Expense by Date
6. Category Expense Report
7. Set Monthly Budget
8. Budget Alert
9. Exit

Choose: 5
Enter date (YYYY-MM-DD): 2026-11-17
2026-02-10 16:38:51,312 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2026-02-10 16:38:51,316 INFO sqlalchemy.engine.Engine SELECT expenses.id AS expenses_id, expenses.title AS expenses_title, expenses.amount AS expenses_amount, expenses.date AS expenses_date, expenses.category_id AS expenses_category_id
FROM expenses
WHERE expenses.date = ?

INFO:sqlalchemy.engine.Engine:SELECT expenses.id AS expenses_id, expenses.title AS expenses_title, expenses.amount AS expenses_amount, expenses.date AS expenses_date, expenses.category_id AS expenses_category_id
FROM expenses
WHERE expenses.date = ?

2026-02-10 16:38:51,319 INFO sqlalchemy.engine.Engine [generated in 0.00351s] ('2026-11-17',)

INFO:sqlalchemy.engine.Engine:[generated in 0.00351s] ('2026-11-17',)

Clothes - 2500.0

===== FINTRACK PRO =====
1. Add Category
2. Add Expense
3. Update Expense
4. Delete Expense
5. Search Expense by Date
6. Category Expense Report
7. Set Monthly Budget
8. Budget Alert
9. Exit

Choose: 6
2026-02-10 16:47:10,192 INFO sqlalchemy.engine.Engine
    SELECT categories.name, SUM(expenses.amount)
    FROM categories
    JOIN expenses ON categories.id = expenses.category_id
    GROUP BY categories.name

INFO:sqlalchemy.engine.Engine:
    SELECT categories.name, SUM(expenses.amount)
    FROM categories
    JOIN expenses ON categories.id = expenses.category_id
    GROUP BY categories.name

2026-02-10 16:47:10,195 INFO sqlalchemy.engine.Engine [generated in 0.00317s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00317s] ()

Category Wise Expense Report
Food → 2500.0

===== FINTRACK PRO =====
1. Add Category
2. Add Expense
3. Update Expense
4. Delete Expense
5. Search Expense by Date
6. Category Expense Report
7. Set Monthly Budget
8. Budget Alert
9. Exit

Choose: 7
Month (YYYY-MM): 2026-02
Budget limit: 5000
2026-02-10 16:47:53,419 INFO sqlalchemy.engine.Engine INSERT INTO budgets (month, "limit") VALUES (?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO budgets (month, "limit") VALUES (?, ?)

2026-02-10 16:47:53,421 INFO sqlalchemy.engine.Engine [generated in 0.00280s] ('2026-02', 5000.0)

INFO:sqlalchemy.engine.Engine:[generated in 0.00280s] ('2026-02', 5000.0)

2026-02-10 16:47:53,424 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

Monthly budget set

===== FINTRACK PRO =====
1. Add Category
2. Add Expense
3. Update Expense
4. Delete Expense
5. Search Expense by Date
6. Category Expense Report
7. Set Monthly Budget
8. Budget Alert
9. Exit

Choose: 8
Month (YYYY-MM): 2026-02
2026-02-10 16:48:11,607 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2026-02-10 16:48:11,610 INFO sqlalchemy.engine.Engine SELECT SUM(amount) FROM expenses WHERE date LIKE ?

INFO:sqlalchemy.engine.Engine:SELECT SUM(amount) FROM expenses WHERE date LIKE ?

2026-02-10 16:48:11,612 INFO sqlalchemy.engine.Engine [generated in 0.00223s] ('2026-02%',)

INFO:sqlalchemy.engine.Engine:[generated in 0.00223s] ('2026-02%',)

2026-02-10 16:48:11,621 INFO sqlalchemy.engine.Engine SELECT budgets.id AS budgets_id, budgets.month AS budgets_month, budgets."limit" AS budgets_limit
FROM budgets
WHERE budgets.month = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT budgets.id AS budgets_id, budgets.month AS budgets_month, budgets."limit" AS budgets_limit
FROM budgets
WHERE budgets.month = ?
 LIMIT ? OFFSET ?

2026-02-10 16:48:11,625 INFO sqlalchemy.engine.Engine [generated in 0.00372s] ('2026-02', 1, 0)

INFO:sqlalchemy.engine.Engine:[generated in 0.00372s] ('2026-02', 1, 0)

Within budget limit

===== FINTRACK PRO =====
1. Add Category
2. Add Expense
3. Update Expense
4. Delete Expense
5. Search Expense by Date
6. Category Expense Report
7. Set Monthly Budget
8. Budget Alert
9. Exit