<a href="https://colab.research.google.com/github/Ammusabu/PEP-PYTHON/blob/main/pep_string_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# String
s = "Python Programming"

print(s)                 # Prints the original string
print(len(s))            # Prints length of the string
print(s[0])              # Prints first character
print(s[-1])             # Prints last character
print(s[7:18])           # Prints substring using slicing

print(s.lower())         # Converts string to lowercase
print(s.upper())         # Converts string to uppercase

print(s)                 # Prints original string again
print(s.strip())         # Removes leading and trailing spaces

print(s.replace("Python", "Java"))  # Replaces a word in the string
print(s.split(" "))      # Splits string into a list of words

print(s)                 # Prints original string

print(s.find("P"))       # Finds position of character 'P'

word = s.split()         # Splits string into words
print(word)

b = "abc"
print(b.isdigit())       # Checks if string contains only digits
print(b.isalpha())       # Checks if string contains only alphabets

print(s.count("P"))      # Counts number of occurrences of 'P'
print(s.startswith("P")) # Checks if string starts with 'P'
print(s.endswith("g"))   # Checks if string ends with 'g'
print(s.capitalize())    #
#reverse a string
print(s[::-1])

Python Programming
18
P
g
Programming
python programming
PYTHON PROGRAMMING
Python Programming
Python Programming
Java Programming
['Python', 'Programming']
Python Programming
0
['Python', 'Programming']
False
True
2
True
True
Python programming
gnimmargorP nohtyP

In [ ]:
a = "ammusabu"
print(a.capitalize())
print(a.lower())
print(a.upper())
print(a.find("a"))
print(len(a))
print(a.count("u"))
print(a[::-1])
print(a.isalpha())

Ammusabu
ammusabu
AMMUSABU
0
8
2
ubasumma
True
4

In [ ]:
#vowels count
count =0
for i in a:
    if i in "aeiouAEIOU":
        count+=1
print(count)

4

In [ ]:
#palindrome check
s = "malayalam"
if s == s[::-1]:
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [ ]:
#make 2 pointer approach
s = "madam"

left = 0
right = len(s) - 1

while left < right:
    if s[left] != s[right]:
        print("Not a Palindrome")
        break
    left += 1
    right -= 1
else:
    print("Palindrome")

Palindrome

In [ ]:
#count characters of a string
m = "Apple"
for ch in m:
    print(ch,":", m.count(ch))

A : 1
p : 2
p : 2
l : 1
e : 1

In [ ]:
#replace vowel with a star
l= "Lovely Professional University"
for ch in l:
    if ch in "aeiouAEIOU":
        l = l.replace(ch, "*")
    else:
        l = l.replace(ch, ch)
print(l)

L*v*ly Pr*f*ss**n*l *n*v*rs*ty

In [ ]:
#same in another way
l = "Lovely Professional University"
result=""
for ch in l:
    if ch in "aeiouAEIOU":
        result += "*"
    else:
        result += ch
print(result)
#

L*v*ly Pr*f*ss**n*l *n*v*rs*ty

**File handling**

In [ ]:
#write file
#file = open("sample.txt", "mode->r,w,a")
file = open("Students.txt", "w")
file.write("Name: Rahul \n")
file.write("Age: 20 \n")
file.write("Address: Delhi \n")
file.close()

In [ ]:
#reading file
file = open("Students.txt", "r")
data = file.read()
print(data)
file.close()

Name: Rahul
Age: 20
Address: Delhi

In [ ]:
#another way to read
with open("Students.txt", "r") as file:
    data = file.read()
    print(data)

Name: Rahul
Age: 20
Address: Delhi

In [ ]:
#adding data
file = open("Students.txt", "a")
file.write("marks: 90\n")
file.close()

In [ ]:
file = open("Students.txt", "r")
data = file.readline()
print(data)

Name: Rahul

In [ ]:
file = open("Students.txt", "r")
data2 =file.readlines()
print(data2)
file.close()

['Name: Rahul \n', 'Age: 20 \n', 'Address: Delhi \n', 'marks: 90\n', 'marks: 90\n']

In [ ]:
file = open("data.txt","w")
file.write("Name: Ammu\n")
file.write("City: Alleppy\n")
file.write("Age: 20\n")
file.close()

In [ ]:
file = open("data.txt","r")
data = file.read()
print(data)
file.close()

Name: Ammu
City: Alleppy
Age: 20

In [ ]:
file = open("data.txt","a")
file.write("Marks: 90\n")
file.close()

In [ ]:
file = open("data.txt","r")
data = file.readline()
print(data)
file.close()

Name: Ammu

In [ ]:
file = open("data.txt","r")
data = file.readlines()
print(data)
file.close()

['Name: Ammu\n', 'City: Alleppy\n', 'Age: 20\n', 'Marks: 90\n']

In [ ]:
#for number of lines
file = open("data.txt","r")
data = file.readlines()
print(len(data))
file.close()

4

In [ ]:
file = open("string.txt",'w')
content = "My name is Ammu Sabu\n"
file.write(content)
file.write(content.upper())
file.close()

In [ ]:
file = open("string.txt",'r')
data = file.read()
print(data)
file.close()

My name is Ammu Sabu
MY NAME IS AMMU SABU

In [ ]:
file = open("string.txt",'a')
file.write("\nI am from Alleppy")
file.close()

In [ ]:
#number of characters
file = open("string.txt",'r')
data = file.read()
print(len(data))
file.close()

60

In [ ]:
#words count
file = open("string.txt",'r')
data = file.read()
words = data.split()
print(len(words))
print(data.count("is"))
file.close()

14
1

In [ ]:
#letter count
file = open("string.txt",'r')
data = file.read()
count = data.lower().count("a")
print("Word count:", count)
file.close()

Word count: 8

In [ ]:
#reverse
file =open("string.txt",'r')
data = file.read()
print(data[::-1])
file.close()

yppellA morf ma I

UBAS UMMA SI EMAN YM
ubaS ummA si eman yM

In [ ]:
#replace
file = open("string.txt",'r')
data = file.read()
print(data.replace("Ammu","priya"))
file.close()

My name is priya Sabu
MY NAME IS AMMU SABU

I am from Alleppy

In [ ]:
file = open("movies.txt:", 'w')
contents = "prestige\n avatar\ninception\n"
file.write(contents)
file.close()

In [ ]:
file = open("movies.txt:",'r')
data = file.read()
print(data[:10])
file.close()

prestige

In [ ]:
file = open("movies.txt:",'r')
data = file.read()
print(data.strip())
file.close()

prestige
 avatar
inception

In [ ]:
file = open("movies.txt:",'r')
data = file.read()
print(data.replace(" ",""))
file.close()

prestige
avatar
inception

In [ ]:
file = open("movies.txt:","r")
data = file.read()
words = data.split()
for w in words:
    print(w[::-1])
file.close()

egitserp
ratava
noitpecni

**Exception Handling**

In [ ]:
try:
  #riskycode
except:
  #error handling code

In [ ]:
try:
  a = int(input("Enter a number: "))
  b = int(input("Enter a number: "))
  c = a/b
  print(c)
except:
  print("Invalid input!!!!!!!!")

Enter a number: 8
Enter a number: 0
Invalid input!!!!!!!!

Exception handling in file

In [ ]:
try:
  file = open("movies.txt","r")
  print(file.read())
  file.close()
except FileNotFoundError:
  print("File not found")
else:
  print("File opened successfully")
finally:
  print("program ends")

File not found
program ends