<a href="https://colab.research.google.com/github/Ammusabu/PEP-PYTHON/blob/main/Python_class_PEP_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
a="Ammu"
print(a)

Ammu

In [ ]:
int = 1
float = 2.2
str = "Story"
bool = True
print(int,float,str,bool)

1 2.2 Story True

In [ ]:
x = 1
print(type(x))

<class 'int'>

In [ ]:
x = "100"
print(__builtins__.int(x))

100

In [ ]:
x = 10
if(x >= 18):
    print("Eligible")
else:
  print("Not eligible")

Not eligible

In [ ]:
num = __builtins__.int(input("Enter a number: "))

if num % 2 == 0:
    print("The number is Even")
else:
    print("The number is Odd")

Enter a number: 7
The number is Odd

In [ ]:
num1 = __builtins__.int(input("Enter number1: "))
num2 = __builtins__.int(input("Enter number2: "))
if num1 > num2:
    print("Number 1 is Bigger")
else:
    print("Number 2 is Bigger")

Enter number1: 9

TypeError: 'int' object is not callable

In [ ]:
#greater or not
#even multiple
for i in range(1, 11):
    print(2 * i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
#odd numbers btw i to 15
for i in range(1, 16):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15

In [ ]:
#* n times
x = input("Enter a number: ")
for i in range(1, 7):
    print(i * x)

Enter a number: *
*
**
***
****
*****
******

In [ ]:
#while loop
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:
#maths table
num = __builtins__.int(input("Enter a number: "))
i = 1
while i <= 10:
    print(f"{num} x {i} = {num * i}")
    i += 1

Enter a number: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
#function
def greet():
    print("Hello")
greet()

Hello

In [ ]:
#Normal function
def sum(a,b):
  return (a+b)
add = sum (5,8)
print(add)
print(sum(0,8))

13
8

In [ ]:
#using lamda function we can make it in one line
add = lambda a,b:a+b
print(add(5,8))

13

In [ ]:
#Square of numb using lamba
square = lambda a:a*a
print(square(5))

25

In [ ]:
x = input("Enter a number")
print(type(x))
print(x*2)

Enter a number6
<class 'str'>
66

In [ ]:
salary = __builtins__.str(__builtins__.input("Enter salary"))
s = __builtins__.int(salary)
print(s+5000)

Enter salary600000
605000

In [ ]:
#temperature
x = __builtins__.int(input("Enter a number: "))
if x >=30:
    print("Hot")
elif x >=15:
    print("Normal")
else:
    print("Cold")

Enter a number: 7
Cold

In [ ]:
#take count of how many numbers
for i in range(1,11):
    print(7*i)
    count = count + 1
print(f"Total numbers printed: {count}")

7
14
21
28
35
42
49
56
63
70
Total numbers printed: 11

In [ ]:
#reverse a numer
x = __builtins__.int(input("Enter a number: "))

rev = 0

while x > 0:
    d = x % 10
    rev = rev * 10 + d
    x//= 10

print(rev)

Enter a number: 67
76

In [ ]:
#check even using function
def checkeven(x):
    if x % 2 ==0:
        print("Even")
    elif x % 2 !=0:
        print("odd")
checkeven(7)

odd

In [ ]:
a= lambda x:x*x*x
print(a(2))

8

In [ ]:
#list operations[]
list = [1,2,3,4,5]
print(list)
print(list[-1])

[1, 2, 3, 4, 5]
5

In [ ]:
marks = [10,20,30,40,50]
marks.append(100)#will add the digit to end of the list
print(len(marks))
marks.insert(1,75)#will add that digit at index
print(marks)
marks.remove(30)#remove the digit i
print(marks)
marks.pop()#removes the last digit
print(marks)
print(marks[1:4])#from a to b index numbers
marks.sort()
print(marks)
marks.reverse()
print(marks)
print(max(marks))
print(min(marks))

6
[10, 75, 20, 30, 40, 50, 100]
[10, 75, 20, 40, 50, 100]
[10, 75, 20, 40, 50]
[75, 20, 40]
[10, 20, 40, 50, 75]
[75, 50, 40, 20, 10]
75
10

In [ ]:
#Average
age = [18,19,23,25,36]
print(sum(age)/(len(age)))

24.2

In [ ]:
city = ['mumbai', 'chennai', 'Kolkata','kochi','Hydrabad']
city.append('Delhi')
print(city)
city.insert(1,'pune')
print(city)
city.remove('chennai')
print(city)
city.pop()
print(city)
print(city[1:4])
city.sort()
print(city)
city.reverse()
print(city)
print(city.count('Kolkata'))
print(len(city))

['mumbai', 'chennai', 'Kolkata', 'kochi', 'Hydrabad', 'Delhi']
['mumbai', 'pune', 'chennai', 'Kolkata', 'kochi', 'Hydrabad', 'Delhi']
['mumbai', 'pune', 'Kolkata', 'kochi', 'Hydrabad', 'Delhi']
['mumbai', 'pune', 'Kolkata', 'kochi', 'Hydrabad']
['pune', 'Kolkata', 'kochi']
['Hydrabad', 'Kolkata', 'kochi', 'mumbai', 'pune']
['pune', 'mumbai', 'kochi', 'Kolkata', 'Hydrabad']
1
5

In [ ]:
days = ('mon','tue','wed','thu','fri','mon')

print(days)                 # Print tuple
print(days[1:4])            # Slicing
print(len(days))            # Length
print(days.count('mon'))    # Count
print(days.index('thu')) #index
print(days[0])    # First element
print(days[-1])   # Last element
print(days[1:4])   # Second to last element

('mon', 'tue', 'wed', 'thu', 'fri', 'mon')
('tue', 'wed', 'thu')
6
2
3
mon
mon
('tue', 'wed', 'thu')

In [ ]:
friends = ('anamika','priya','anvita','deepa','farheen','Ashkara')
print(friends)
print(len(friends))
print(friends[0])
print(friends[-1])
print(friends.count('anamika'))
print(friends.index('Ashkara'))
print(friends[1:4])
print ('deepa' in friends)

('anamika', 'priya', 'anvita', 'deepa', 'farheen', 'Ashkara')
6
anamika
Ashkara
1
5
('priya', 'anvita', 'deepa')
True

In [ ]:
#Set Operations
numbers = {2,3,5,9,8,0}
print(numbers)
for i in numbers:
    print(i)
numbers.add(100)#only
print(numbers)
numbers.update([120,130])#multiple number additions
print(numbers)
numbers.remove(120)
numbers.discard(125)
print(numbers)

{0, 2, 3, 5, 8, 9}
0
2
3
5
8
9
{0, 2, 3, 100, 5, 8, 9}
{0, 2, 3, 130, 5, 8, 9, 100, 120}
{0, 2, 3, 130, 5, 8, 9, 100}

In [ ]:
a= {1,2,3,4,5}
b= {4,5,6,7,8}
print(a.union(b)) #a U b
print(a.intersection(b)) #a n b
print(a.difference(b))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [ ]:
marks1 = {90,20,90,40,50}
marks2 = {40,50,60,70,80}
print(marks1.union(marks2))
print(marks1.intersection(marks2))
print(marks1.difference(marks2))
print(marks2.difference(marks1))

{70, 40, 80, 50, 20, 90, 60}
{40, 50}
{90, 20}
{80, 60, 70}