<a href="https://colab.research.google.com/github/Ammusabu/PEP-PYTHON/blob/main/PEP_09_02_ORM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sqlalchemy import create_engine
engine = create_engine("sqlite:////school.db")
print("Database Connected")

from sqlalchemy.orm import declarative_base #for creating base class which means tables
from sqlalchemy import Column, Integer, String #for creating columns
from sqlalchemy.orm import sessionmaker
Base = declarative_base() #inbuild Function directly importing from python (the base class)
class Student(Base):
    __tablename__ = "students"
    id = Column(Integer, primary_key=True)
    name = Column(String)
    age = Column(Integer)
    course = Column(String)
Base.metadata.create_all(engine)
print("Table Created")
Session = sessionmaker(bind=engine)
session = Session()
s1 = Student(id = 1, name="Rahul", age=20, course="Python")
s2 = Student(id = 2, name="Rohit", age=21, course="Java")
session.add_all([s1, s2]) # Add both students
session.commit()
print("Data Inserted")

Database Connected
Table Created
Data Inserted

In [7]:
s1 = Student(id = 7, name="Deepa", age=20, course="Python")
s2 = Student(id = 8, name="Anvi", age=21, course="Java")
session.add_all([s1, s2]) # Add both students
session.commit()
print("Data Inserted")
students = session.query(Student).all()
for student in students:
    print(student.id, student.name, student.age, student.course)

Data Inserted
1 Rahul 20 Python
2 Rohit 21 Java
3 Rahul 20 Python
4 Rohit 21 Java
5 Ammu 20 Python
6 Diya 21 Java
7 Deepa 20 Python
8 Anvi 21 Java