<a href="https://colab.research.google.com/github/Ammusabu/PEP-PYTHON/blob/main/PEP_27_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**OOP**

In [ ]:
class Student:
    print("Hey i am the Student")

s1 = Student()
print(s1)

Hey i am the Student
<__main__.Student object at 0x7c971c0dcf80>

In [ ]:
class Student:
    def __init__(self): #default constructor cuz only self
        self.name = "Ammu"
        self.place = "Kerala"
        self.rollnumber= 33
s1 = Student()
print(s1.name)
print(s1.rollnumber)

Ammu
33

In [ ]:
class Student:
    def __init__(self,name,place,rollnumber): #
        self.name = name
        self.place = place
        self.rollnumber= rollnumber
s1=Student("Ammu S","Alleppy", 33)
print(s1.name)

Ammu S

In [ ]:
class Car:
    name = "BM"
    model = "X7"
    color = "Black"
    def __init__(self,name,model,color):
        self.name = name
        self.model = model
        self.color = color
s1 = Car("BMW","X7","Black")
print(s1.name)
print(s1.model)
print(s1.color)

BMW
X7
Black

In [ ]:
#attributes
class Student:
    college_name = "LPU"  #class attributes
    def __init__(self,Fullname,marks):
        self.name = Fullname   #instance Attributes
        self.Marks = marks    #instance atttributes
s1 = Student("Ammu",99)
s2 = Student("Anu", 90)
print(s1.name)
print(s2.Marks)
print(s1.college_name)
print(Student.college_name)

Ammu
90
LPU
LPU

In [ ]:
class Employee:
    company_name = "TCS"#object attributes
    def __init__(self,name,salary):
        self.name =name
        self.salary = salary
s1 = Employee("Ammu", 5000000)
s2 = Employee("Anu", 6000000)
print(s1.name)
print(s2.salary)
print(Employee.company_name)

Ammu
6000000
TCS

In [ ]:
class Car:
    Showroom_name = "Tata"
    def __init__(self,model,price):
        self.model = model
        self.price = price
s1 = Car("SUV",1500000)
print(s1.model)
print(s1.price)
print(Car.Showroom_name)

SUV
1500000
Tata

In [ ]:
class Student:
    college_name = "LPU"
    def __init__(self,name,marks):
        self.name = name
        self.marks = marks
s1=Student("Ammmu",99)
Student.college_name = "IIT"
print(s1.name)
print(Student.college_name)

Ammmu
IIT

In [ ]:
class Car:
    def __init__(self,name,salary):
       self.name = name
       self.salary = salary
s1 = Car("BMW",10000000)
print(s1.name)
print(s1.salary)
s1.salary = 700000
print(s1.salary)

BMW
10000000
700000

In [ ]:
#counting object attributes as it created
class Student:
    Total_students = 0
    def __init__(self,name,marks):
        self.name = name
        self.marks = marks
        Student.Total_students +=1
s1=Student("Ammu",19)
s2 = Student("Anu",10)
s3 = Student("Anju",10)
print(Student.Total_students)

3

**Methods**

In [ ]:
#Methods
class Student:
    def __init__(self,name):
        self.name = name
    def hello(self):
        print("Hello",self.name)
    @staticmethod#only for class
    def college_name(): #
        print("LPU")
s1 = Student("Ammu")
s1.hello()
Student.college_name()
s1.college_name()

Hello Ammu
LPU
LPU

In [ ]:
class Student:
    def __init__(self,name,marks):
        self.name = name
        self.marks = marks

    def display(self):
        print("Hello I am", self.name, "\nI got ",self.marks,"Marks in English")
s1 = Student("Ammu", 99)
s1.display()

Hello I am Ammu
I got  99 Marks in English

In [ ]:
class Student:
    def __init__(self,name,marks):
        self.name = name
        self.marks = marks
    @staticmethod
    def college():
       print("LPU")
s1=Student("Ammu",99)
print(s1.name)
print(s1.marks)
Student.college()

Ammu
99
LPU

**Encapsulation**

In [ ]:
class Students:
    def __init__(self,marks):
        self.__marks = marks #private attribute
    def get_marks(self):
        return self.__marks
    def set_marks(self,newmarks):
        self.__marks = newmarks
s1 = Students(99)
s1.set_marks(100)
print(s1.get_marks())

100

In [ ]:
class Balance:
    def __init__(self,balance):
        self.__balance = balance
    def get_balance(self):
        return self.__balance
s1 = Balance(10000)
print(s1.get_balance())

10000

In [ ]:
class Accounts:
    def __init__(self,balance):
        self.__balance = balance
    def get_balance(self):
        return self.__balance
    def deposite(self, amount):
        if amount > 0:
            self.__balance += amount
    def withdraw(self, amount):
        if amount > 0 and amount <= self.__balance:
            self.__balance -= amount
s1 = Accounts(10000)
s1.deposite(1000)
s1.withdraw(500)
print(s1.get_balance())

10500